<!--============================
=            Footer            =
=============================-->

<footer class="footer-classic">
  <ul class="social-icons list-inline">
    <li class="list-inline-item">
      <a href="https://www.facebook.com"><i class="ti-facebook"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://twitter.com"><i class="ti-twitter"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com"><i class="ti-instagram"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://dribbble.com"><i class="ti-dribbble"></i></a>
    </li>
  </ul>
  <ul class="footer-links list-inline">
    <li class="list-inline-item">
      <a href="FAQ.html">Download</a>
    </li>
    <li class="list-inline-item">
      <a href="contact.html">Support</a>
    </li>
  </ul>
</footer>